[**babylon v0.1.0**](../../../../README.md)

***

[babylon](../../../../README.md) / [lib/deployment/validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/lib/deployment/validation.ts:48](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L48)

## Properties

### valid

> **valid**: `boolean`

Defined in: [src/lib/deployment/validation.ts:49](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L49)

***

### deployed

> **deployed**: `boolean`

Defined in: [src/lib/deployment/validation.ts:50](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L50)

***

### errors

> **errors**: `string`[]

Defined in: [src/lib/deployment/validation.ts:51](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L51)

***

### warnings

> **warnings**: `string`[]

Defined in: [src/lib/deployment/validation.ts:52](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L52)

***

### contracts

> **contracts**: `Partial`\<[`ContractAddresses`](ContractAddresses.md)\>

Defined in: [src/lib/deployment/validation.ts:53](https://github.com/lalalune/babylon/blob/309d41be44719cd3238d25a6c463d399f70ddf34/src/lib/deployment/validation.ts#L53)
